@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;700&family=Poppins:wght@400;700&display=swap");
body {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #e3e2fd;
}
body img[alt] {
  color: gray;
  font-size: 0.5rem;
}
body a {
  text-decoration: none;
  color: black;
}
body a:hover {
  color: rgb(0, 141, 0);
}

button {
  cursor: pointer;
}

#home {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  min-height: 40px;
  height: 8vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 50px;
  justify-content: space-between;
  overflow: none;
  padding: 10px;
}
#navbar .logo-and-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  gap: 20px;
  font-size: 1.2em;
  font-weight: 500;
}

#jbs-logo {
  cursor: none;
  height: 40px;
  transition: transform 10s ease-out;
}

#jbs-logo:active {
  transform: rotate(30000deg);
}

#searchbar {
  border: 1px solid #000075;
  border-radius: 50px;
  min-height: 30px;
  height: 5%;
  width: 20vw;
  overflow: hidden;
  padding: 0 10px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
#searchbar input {
  border: none;
  height: 100%;
  background-color: #e3e2fd;
  flex: 1;
}
#searchbar input:focus {
  /* background-color: white; */
  border: none;
  outline: none;
}
#searchbar img {
  height: 18px;
}

.navigation-links {
  display: flex;
  gap: 30px;
}

.navigation-links ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.active-nav-link {
  color: #0011FF !important;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
  font-weight: bold;
}

#join-us-btn {
  padding: 5px 10px;
  border: none;
  background-color: #0011FF;
  color: WHITE;
  font-weight: bold;
  border-radius: 5px;
}

#hero-section {
  height: 52vh;
  padding: 0 60px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.image-area {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 60%;
}

.text-area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero-heading {
  font-weight: bold;
  font-family: inter, sans-serif;
  font-size: 3.4em;
  line-height: 100%;
  margin-bottom: 5px;
}

.hero-sub-heading {
  font-family: inter;
  font-style: italic;
  font-size: 1.5em;
  font-weight: 600;
  color: #475569;
}

#main-cta-btn {
  background-color: #000000;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  padding: 10px 20px;
  border-radius: 50px;
  margin-top: 30px;
  box-sizing: border-box;
  border: none;
  transition: transform 2s ease-out;
  box-sizing: border-box;
}

#main-cta-btn:hover {
  color: #000042;
  background-color: rgb(255, 255, 255);
  outline: 2px solid black;
}

#main-cta-btn:active {
  color: white;
  transform: rotate(3000deg) translateX(250px);
  background-color: #000042;
}

.image-area img {
  height: 95%;
  margin: auto;
  border-radius: 10px;
}

#hero-cards-section {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 20px 60px;
  flex: 1;
  background-color: #000042;
  color: white;
}

.hero-cards {
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 20px;
  padding: 20px 30px;
  transition: transform 0.2s ease-out;
}
.hero-cards img {
  height: 35px;
  width: 35px;
}

.hero-cards:hover {
  background-color: hsl(240, 57%, 21%);
  transform: translateY(-10px);
}
.hero-cards:hover .card-learn-more-btn {
  color: #000042;
  border: none;
  background-color: white;
}

.card-title {
  font-weight: bold;
  margin: 20px 0 5px;
}

.card-description {
  font-size: 14px;
  font-family: inter;
}

.card-learn-more-btn {
  width: 240px;
  border-radius: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  padding: 10px;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  box-sizing: border-box;
}/*# sourceMappingURL=main.css.map */