@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;700&display=swap');

@import "variables";

body {
    font: {
        family: 'Poppins', sans-serif;
        size : 16px;
    }
    background-color: $bgcolor ;

    img[alt] {
            color: gray;
            font-size: 0.5rem;
        }

    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: rgb(0, 141, 0);
    }
}

#home{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#navbar{
    min-height: 40px;
    height: 8vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 10px 20px;
    justify-content: space-between;
    overflow: none;
    padding: 10px;

    .logo-and-search{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        gap: 20px;
    }
}


#jbs-logo{
    height: 40px;
}

#searchbar{
    // background-color: $bgcolor;
    border: 1px solid #000075;
    border-radius: 50px;
    min-height: 30px;;
    height: 5%;
    width: 20vw;
    overflow: hidden;
    padding: 0 10px;
    display: flex;
    align-items: center;

    input{
        border: none;
        height: 100%;;
        background-color: $bgcolor;
        flex: 1;
    }

    input:focus {
        /* background-color: white; */
        border: none;
        outline: none;
    }

    img{
        height: 18px;
    }
}

.navigation-links{
    display: flex;
    gap: 30px;
}

.navigation-links ul{
    display: flex;
    list-style: none;
    gap: 15px;  
}

.active-nav-link{
    color: #0011FF !important;

    text-decoration : {
        line : underline;
        thickness:3px;
    }

    text-underline-offset: 4px;
    font-weight: bold;
}

#join-us-btn{
    padding: 5px 10px;
    border: none;
    background-color: #0011FF;
    color: WHITE;
    font-weight: bold;
    border-radius: 5px;
}

#hero-section{
    height: 52vh;;
    padding: 0 30px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;

}

#hero-cards-section{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    padding: 50px 30px;
    flex: 1;    
    background-color: #000042;
    color: white;
}
.image-area{
    display: flex;
    justify-content: center;
    height: 100%;
}

.text-area{
    height: 100%;
}

.hero-heading{
    font-weight: bold;
    font-family: inter, sans-serif;
    font-size: 3.4em;
    line-height: 100%;
}

.image-area img {
    height: 90%;
    aspect-ratio: 4/3;
    margin: auto;;
    border-radius: 10px;
}

.hello{}